.education{

flex:2;

width:auto;

min-height:fit-content;

padding:1.5rem;

border:var(--border);

border-radius:20px;

background-color:var(--primary);

transition:0.3s;

}

.education:hover{

transform:translateY(-8px);

box-shadow:0 8px 20px rgba(0,0,0,0.15);

}

.education h2{

font-size:2rem;

padding-bottom:1rem;

text-align:center;

margin:0;

}

@media screen and (max-width:768px){

.education{

width:100%;

flex:none;

}

.education h2{

font-size:1.5rem;

}

}