.interests{

flex:1;

width:auto;

min-height:fit-content;

padding:1.5rem;

border:var(--border);

border-radius:20px;

background-color:var(--primary);

transition:0.3s;

}

.interests:hover{

transform:translateY(-8px);

box-shadow:0 8px 20px rgba(0,0,0,0.15);

}

.interests h2{

font-size:2rem;

text-align:center;

margin:0;

padding-bottom:1rem;

}

.interests-description{

display:flex;

flex-wrap:wrap;

justify-content:center;

align-items:center;

gap:1rem;

padding-top:1rem;

}

@media screen and (max-width:768px){

.interests{

width:100%;

flex:none;

}

.interests h2{

font-size:1.5rem;

}

}